/* Стили для истории школы */
.history-section {
    background-color: #FFFCF2;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.section-title{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #EB5E28;
    font-family: 'ARTstr';
}
.history-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

.history-text {
    text-align: justify;
    color: black;
    margin-top: 20px;
    font-family: 'open sans';
    font-size: 18px;
    line-height: 1.5;
}
/* Стили для блока преподавателей */

.teacher-section {
    padding: 0px 10% 0px 10%;
    background-color: #292626;
    display: flex;
    justify-content: center;
}

.teacher-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher {
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: #403D39;
    text-align: center;
    border-radius: 4px;
}

.teacher-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.teacher-name {
    margin-top: 10px;
    color: #EB5E28;
    font-family: 'ART';
}

.teacher-description {
    font-family: 'ART';
    color: white;
}
.teacher-image:hover{
    transform: scale(2);
    transition: 0.3s;
}
.teacher-image{
    transition: 0.3s;
}
/* история */
.all-history-section{
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.history-text2{
    color: #FFFCF2;
    font-family: 'open sans';
    line-height: 1.5;
    padding: 0 20px;
    font-size: 17px;
}
.history-subname{
    color: #EB5E28;
    padding: 0 20px;
    font-family: 'Artstr';
}
.history-image{
    margin-bottom: 30px;
}

